@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


* {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}

body {
          @apply bg-gray-200 text-gray-800
}

.link-card {
          @apply backdrop-blur-sm animate-fadeIn h-[120px] w-[290px] shadow -mt-12 rounded-lg flex flex-col justify-center py-3 px-5 text-lg items-start z-10 bg-gradient-to-r from-blue-800 to-blue-900 text-white font-bold
}

.modern-calendar {
  --calendar-bg-color: #ffffff;
  --calendar-border-radius: 0.5rem;
  --calendar-header-bg: #f8f9fa;
  --calendar-hover-bg: #e9ecef;
  --calendar-active-bg: #007bff;
  --calendar-text-color: #495057;
  --calendar-border-color: #dee2e6;
  width: 100%;
  border-radius: var(--calendar-border-radius);
}

.react-calendar {
  width: 100%;
  border: none;
  border-radius: var(--calendar-border-radius);
  background-color: var(--calendar-bg-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.react-calendar__tile {
  font-weight: 500;
  color: var(--calendar-text-color);
  transition: background-color 0.3s, color 0.3s;
  padding: 1rem;
  border-radius: 0.25rem;
}

.react-calendar__tile:hover {
  background-color: var(--calendar-hover-bg);
  color: var(--calendar-text-color);
}

.react-calendar__tile--active {
  background-color: var(--calendar-active-bg);
  color: white;
  border-radius: 0.25rem;
}

.react-calendar__tile--range {
  background-color: var(--calendar-active-bg);
  color: white;
}

.react-calendar__tile--rangeStart,
.react-calendar__tile--rangeEnd {
  background-color: var(--calendar-active-bg);
  color: white;
  border-radius: 0.25rem;
}

.react-calendar__month-view__days__day--weekend {
  color: #d9534f;
}

.react-calendar__navigation {
  background-color: var(--calendar-header-bg);
  border-bottom: 1px solid var(--calendar-border-color);
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: var(--calendar-border-radius) var(--calendar-border-radius) 0 0;
}

.react-calendar__navigation button {
  color: var(--calendar-text-color);
  font-weight: 600;
}

.react-calendar__navigation button:hover {
  background-color: var(--calendar-hover-bg);
}

.react-calendar__month-view__weekdays {
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.5rem;
  border-bottom: 1px solid var(--calendar-border-color);
  color: var(--calendar-text-color);
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5rem 0;
}

.react-calendar__tile--now {
  background-color: #ffff1e;
  border-radius: 0.25rem;
  color: #333;
}